.game-container {
  min-height: 100vh;
  background-color: #fff;

}

.game-details {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #C2F970;
  padding: 20px;
}

/* .game-title {

} */

.game-area {
  position: relative;
  margin: calc(calc( 100vh - 600px - 115px )/2) auto;
  width: 600px;
  height: 600px;
  border: 2px solid #000;
  background-color: #C2F970;
}

.snake-dot {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: #230C0F;
  border: 1px solid #fff;
  z-index: 2;
}

.snake-food {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: #f93943;
  border: 1px solid #fff;
  z-index: 1;
}

